#countdown {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

#countdown-subcontainer {
    overflow: auto;
}

#countdown-header {
    color: #222222;
    font-family: "GothamBold";
    font-size: 62px;
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#countdown-subheader {
    color: #222222;
    font-family: "GothamBold";
    font-size: 55px;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: #EEEEEE;
    background-color: #e80e53;
    padding: 10px;
}

#countdown-timestamp {
    color: #222222;
    font-family: "GothamBold";
    font-size: 70px;
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-top: 15px;
    width: 100%;
}

#countdown-labels {
    color: #999999;
    font-family: "GothamBold";
    font-size: 20px;
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}